#toolbar1 {
    border-radius: 20px;
}

#labelCentral{
    display: flex; 
    margin: auto;
}

h5{
    color:black;
}

ion-select{
    max-width: 70% !important;
}

td {
      font-size: 12px; 
}
 
th {
        font-weight:bold;
        font-size: 0.75rem!important;
        text-align:center;
}
     