<ion-content class="ionContent">
  <br>
  <br>
  <ion-card >
    <ion-toolbar class="ionToolbar">
      <ion-img src="./assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Recarga</ion-card-subtitle>
        <ion-card-title>Dashboard Tableu</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Informacion respectiva a las promociones prepago.</p>
      </ion-card-content>
    </ion-toolbar>
  </ion-card>
  <ion-grid>
      <ion-row>
          <ion-col>
            <div> <ion-card >
                <ion-toolbar>
                  <ion-img src="./assets/shapes.svg"></ion-img>
                  <ion-card-header>
                    <ion-card-subtitle>Recarga</ion-card-subtitle>
                    <ion-card-title>Dashboard Tableu</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>Informacion respectiva a las promociones prepago.</p>
                  </ion-card-content>
                </ion-toolbar>
              </ion-card></div>
          </ion-col>
          <ion-col>
            <div> <ion-card >
                <ion-toolbar>
                  <ion-img src="./assets/shapes.svg"></ion-img>
                  <ion-card-header>
                    <ion-card-subtitle>Recarga</ion-card-subtitle>
                    <ion-card-title>Dashboard Tableu</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>Informacion respectiva a las promociones prepago.</p>
                  </ion-card-content>
                </ion-toolbar>
              </ion-card></div>
          </ion-col>
        </ion-row>
  </ion-grid>
  <br>
  <br>
</ion-content>